<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sly School TimeTable Scheduler">
    <meta name="author" , content="Germany Mangezi">
    <meta name="keywords" content="Sly Time Table Scheduler,School TimeTable, Sly Scheducate">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Create discount</title>
    <link rel="stylesheet" href="css/create-discount.css">
    <link rel="icon" type="image/x-icon" href="/images/slylogo2.png">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>

<body>
    <div id="tool-bar" class="toolbar">
        <span id="toolbar-text">Create discount</span>
    </div>

    <!--The MENU ITEMS-->
    <div class="icon-nav">
        <script src="js/common-icons.js"></script>
    </div>

    <!--The page Content-->

    <div class="create-discount-container">
        <form action="#" class="form-container">
            <!--name of discount  its input-->
            <input type="text" id="discount-name" placeholder="Enter discount Name">


            <!--the button  for saving or cancelling information of the discount-->
            <a href="discount-list.html"><button type="button" class="save-btn">SAVE</button></a>
            <a href="discount-list.html"><button type="button" class="cancel-btn">CANCEL</button></a>
        </form>
    </div>
    </div>
</body>

</html>
<script src="js/create-discount.js"></script>