<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sly School TimeTable Scheduler">
    <meta name="author" , content="Germany Mangezi">
    <meta name="keywords" content="Sly Time Table Scheduler,School TimeTable, Sly Scheducate">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Create Category</title>
    <link rel="icon" type="image/x-icon" href="/images/slylogo2.png">
    <link rel="stylesheet" href="css/create-category.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?">
    <script src="js/intlTelInput.min.js"></script>
</head>

<body>
    <div id="tool-bar" class="toolbar">
        <span id="toolbar-text">Create Category</span>
    </div>
    <!--The MENU ITEMS-->
    <div class="icon-nav">
        <script src="js/common-icons.js"></script>
    </div>
    
    <!--The page Content-->
    <div class="create-Category-container">
        <form action="#" class="form-container">
            <!--name of Category  its input-->
            <input type="text" id="category-name" placeholder="Enter Category Name">


            <!--the button  for saving or cancelling information of the Category-->
            <a href="category-list.html"><button type="button" class="save-btn">SAVE</button></a>
            <a href="category-list.html"><button type="button" class="cancel-btn">CANCEL</button></a>
        </form>
    </div>
    </div>
</body>

</html>
<script src="js/create-category.js"></script>