<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sly School TimeTable Scheduler">
    <meta name="author" , content="Germany Mangezi">
    <meta name="keywords" content="Sly Time Table Scheduler,School TimeTable, Sly Scheducate">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>licensing and Subscription</title>
    <link rel="stylesheet" href="css/licensing-subscription.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body>
    <div id="tool-bar" class="toolbar">
        <span id="toolbar-text" >Licensing and Subscription </span>
    </div>
    <!--The MENU ITEMS-->    
    <div class="icon-nav">
        <script src="js/common-icons.js"></script>
    </div>

    <!--The page Content-->    
        <div class="create-discount-container">
            <h3 class="subscription-title">Subscriptions</h3>
            <div class="subscriptions-container">
                <div class="employee-management">
                    <i class="fa fa-id-card employee-mgt-icon" aria-hidden="true"></i>
                    <label class="subscriptions-label">Employee Management</label><br>
                    <span class="subscriptions-comment">Manage access rights, track time<br> cards and sales by employee</span>
                    <button class="employee-mgt-subscribe-btn">Subscribe</button>
                    <button class="employee-mgt-unsubscribe-btn">Unsubscribe</button>
                </div>
                <div class="advanced-inventory">
                    <i class="fa fa-cart-plus " aria-hidden="true"></i>
                    <label class="subscriptions-label">Advanced Inventory Management</label><br>
                    <span class="subscriptions-comment">Create purchase orders, view inventory valuation<br>  report and manage stock</span>
                    <button class="advanced-inventory-subscribe-btn">Subscribe</button>
                    <button class="advanced-inventory-unsubscribe-btn">Unsubscribe</button>
                </div>
                <div class="license">
                    <i class="fa fa-unlock  " aria-hidden="true"></i>
                    <label class="subscriptions-label">License Subscription</label><br>
                    <span class="subscriptions-comment">Subscribe for monthly, quaterly and annual <br> licenses </span>
                    <button class="license-subscribe-btn">Subscribe</button>

                </div>
                <hr class="horizontal">
                <h3 class="payment-method-title">Payment Method</h3>
                <div class="payment-method">
                    <i class="fa fa-credit-card  " aria-hidden="true"></i>
                    <span class="payment-method-comment">Manage access rights, track time<br> cards and sales by employee</span>
                    <button class="add-payment-method-btn">Add Payment Method</button>
                    <button class="remove-card-btn">Remove Card <i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
<script src="js/licensing-subscription.js"></script>