<!DOCTYPE html>
<html> lang="en" dir = "ltr">
    <head>
        <meta charset="utf-8">
        <title> Sly Dashboard</title>
    </head>
    <body>
        <h1> Currency Tested is <%= kindofCurrency1 %></h1>
    </body>

</html>