<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <link rel="icon" type="image/x-icon" href="/images/newslylogo.jpg">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .bodyContainer {
            background-color: azure;
            text-align: justify;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border-radius: 1%;
            margin-top: 48px;
            padding: 20px;
            /* margin-left: 30px; */
        }

        @media (min-width: 576px) and (max-width:712px) and (orientation: portrait) {
            .container {
                max-width: 638px;
            }
        }

        hr {
            margin-left: -41px;
        }

        .icon-nav li {
            margin-left: -41px;
        }

        .icon-dropdown-content {
            margin-left: -40%;
        }

        .toolbar {
            height: 41px;
        }

        .icon-nav .nav-list li .sub-menu a {
            margin-left: 34px;
        }
    </style>
    <div id="tool-bar" class="toolbar">
        <div class="menu-icon iconbtn">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <span id="toolbar-text"> Terms and Conditions</span>
    </div>

    <!--The MENU ITEMS-->
    <div class="icon-nav close">
        <script src="js/common-iconsFE.js"></script>
    </div>
    <div class="container">
        <div class="bodyContainer">
            <h3>Terms and Conditions</h3>

            <p><b>Effective Date: 1 January 2024</b>
                <br>
                <br>
                Welcome to <span style="font-weight: bold;">SLYRETAIL ERP.</span> <br>
                By accessing or using our application, you agree to comply with and be bound
                by the following Terms and Conditions. If you do not agree with these terms, please do not use our
                application.
            <ul>
                <li> <b>Acceptance of Terms</b>
                    <br>
                    By using SLYRETAIL ERP, you agree to these Terms and Conditions and our Privacy Policy. If you do
                    not
                    agree, please refrain from using our services.
                </li>

                <li> <b>Services Provided</b>
                    <br>
                    Our application currently offers features that are available free of charge. We may introduce
                    additional
                    features or upgrade the system in the future, which may involve a fee.
                </li>

                <li> <b>Donations</b>
                    <br>
                    While we are not currently charging for our services, we welcome donations from users who appreciate
                    our work.Donations are voluntary and can be made via <b>Ecocash Number</b>:+263789522108
                    <b>Merchant Name</b>: Silvia Chivange <br>
                    <b>Innbucks/Omari</b>: <b> Number</b>:+263778287836 <b>Merchant Name</b>:Knowledge Mangezi <br>
                    <b>Bank name</b>: Steward Bank <b>Account</b>: Iceberg Solutions <b>Account(ZIG)</b>:1007701183
                    <b>Branch</b>:Mutare <br>
                    <b>Bank name</b>: Steward Bank <b>Account</b>: Iceberg Solutions <b>Account(USD)</b>:1050947048
                    <b>Branch</b>:Mutare
                    <br>
                </li>
                <li> <b>Use of Donations</b>
                    <br>
                    Donations will be used to support the ongoing development and maintenance of the application. We
                    appreciate your

                    support.
                </li>


                <li><b>User Responsibilities</b>
                    <br>
                    Users are responsible for their actions while using the application. This includes ensuring that any
                    information
                    provided is accurate and does not violate any laws or regulations.
                </li>

                <li> <b>Changes to Services</b>
                    <br>
                    We reserve the right to change, suspend, or discontinue any aspect of our application at any time,
                    without
                    notice. This includes the addition of paid features in the future.
                </li>

                <li> <b>Limitation of Liability</b>
                    <br>
                    SLYRETAIL ERP is provided on an "as-is" basis. We do not guarantee that the application
                    will
                    be
                    free
                    from errors or uninterrupted. We shall not be liable for any damages arising from your use of the
                    application.
                </li>

                <li><b> Modifications to Terms</b>
                    <br>
                    We may update these Terms and Conditions from time to time. We will notify users of any significant
                    changes
                    by
                    posting the new terms on this page. Your continued use of the application after any modifications
                    constitutes
                    your acceptance of the new terms.
                </li>
                <li> <b>Governing Law</b>
                    <br>
                    These Terms and Conditions are governed by the laws of Zimbabwe. Any disputes arising from these
                    terms shall be resolved in accordance with the laws of Zimbabwe.
                </li>

                <li> <b>Contact Information</b>
                    <br>
                    For any questions about these Terms and Conditions, please contact us at <a
                        href="tel:+263778287836">+263778287836</a>.
                </li>
            </ul>
            </p>
        </div>
    </div>
</body>
<script src="js/bootstrap.bundle.min.js"></script>

</html>