* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(250, 250, 250);
  overflow: scroll;
  transition: 0.5s ease;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
}

.toolbar {
  top: 0;
  position: fixed;
  width: 100%;
  height: 6%;
  background-color: rgb(1, 6, 105);
  z-index: 100;
}
#toolbar-text {
  position: absolute;
  color: white;
  top: 20%;
  margin-left: 5%;
  font-size: 1.3rem;
}

.icon-nav {
  position: fixed;
  box-shadow: 0rem 0.5rem 0.5rem;
  top: 6%;
  left: 0;
  width: 5%;
  height: 100vh;
  background: white;
  padding-top: 1rem;
  z-index: 102;
}

.icon-nav .icon-bar {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
  transition: all 0.5s ease;
  flex-wrap: wrap;
}

.icon-nav .nav-icon .user-logo2 {
  position: relative;
  color: rgb(133, 134, 133);
  margin-top: 15%;
  font-size: 2rem;
}

.icon-bar .nav-icon .icon-navbar-report {
  position: relative;
  color: rgb(0, 255, 21);
  margin-top: 23%;
  font-size: 1.3rem;
}
.icon-bar .nav-icon .icon-navbar-inventory {
  color: red;
  position: relative;
  margin-top: 23%;
  font-size: 1.3rem;
}

.icon-bar .nav-icon .icon-navbar-settings {
  color: rgb(255, 102, 0);
  position: relative;
  margin-top: 23%;
  font-size: 1.3rem;
}

.icon-bar .nav-icon .icon-navbar-items {
  position: relative;
  color: rgb(231, 10, 84);
  margin-top: 23%;
  font-size: 1.3rem;
}
.icon-bar .nav-icon .icon-navbar-employee {
  position: relative;
  margin-top: 23%;
  color: rgb(58, 71, 73);
  font-size: 1.3rem;
}
.icon-bar .nav-icon .icon-shift-analysis {
  position: relative;
  margin-top: 23%;
  color: rgb(71, 114, 65);
  font-size: 1.3rem;
}
.icon-bar .nav-icon .icon-navbar-customers {
  position: relative;
  margin-top: 23%;
  font-size: 1.3rem;
  color: rgb(194, 44, 169);
}
.icon-bar .nav-icon .icon-navbar-help {
  position: relative;
  margin-top: 23%;
  font-size: 1.3rem;
}
.icon-color {
  color: rgb(101, 122, 241);
  word-spacing: normal;
  margin-left: 10%;
}
#select-cols {
  font-size: 1rem;
  color: rgb(1, 6, 105);
  padding: 1rem;
}
.custom-checkbox {
  font-size: 0.8rem;
  margin-left: 5%;
  height: 100%;
}
.icon-dropdown-columns {
  margin-left: 50%;
}
.icon-dropdown-columns {
  display: flex;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 12%;
  height: 37%;
  margin-left: 87%;
  top: 8%;
  text-align: left;
  box-shadow: 0rem 0.1rem 0.4rem 0.1rem grey;
  z-index: 100;
}
.icon-dropdown-columns a {
  color: rgb(1, 6, 105);
  padding: 12px;
  text-decoration: none;
  display: block;
  font-size: 0.8rem;
  word-wrap: normal;
}
.icon-bar .nav-icon .icon {
  width: 100%;
  height: 3.5rem;
  cursor: pointer;
  background-color: white;
  margin-left: 0%;
}
.icon-bar .nav-icon .icon:hover {
  background-color: #ddd;
}
.btn:hover {
  background-color: #ddd;
}

.icon-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 13rem;
  margin-left: 100%;
  margin-top: -3.5rem;
  text-align: left;
  box-shadow: 0rem 0.1rem 0.4rem 0.1rem grey;
  z-index: 1;
}
.icon-dropdown-content a {
  color: rgb(1, 6, 105);
  padding: 12px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  word-wrap: normal;
}

.icon-dropdown-content a:hover {
  background-color: #ddd;
}
.columns:hover .icon-dropdown-columns {
  display: block;
}
.nav-icon:hover .icon-dropdown-content {
  display: block;
}
.body-card {
  position: absolute;
  width: 90%;
  background-color: white;
  height: 90%;
  top: 8%;
  margin-left: 7%;
  box-shadow: 0rem 0.1rem 0.4rem 0.1rem grey;
  z-index: 90;
}
.add-item {
  position: absolute;
  top: 2%;
  margin-left: 1%;
  font-size: 1rem;
  display: block;
  width: 5%;
  height: 11%;
  border-radius: 50%;
  color: white;
  background-color: rgb(1, 6, 105);
  box-shadow: 0px 2.5px 10px 0px rgb(174, 174, 180);
  cursor: pointer;
  z-index: 100;
}
.export-categories-btn {
  position: absolute;
  width: 10%;
  height: 7%;
  color: rgb(1, 6, 105);
  cursor: pointer;
  font-size: 1rem;
  word-break: break-all;

  margin-left: 8%;
  top: 4%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0rem 0.1rem 0.4rem 0.1rem grey;
}
.delete {
  position: absolute;
  top: 2%;
  margin-left: 20%;
  display: block;
  width: 5%;
  height: 11%;
  border-radius: 50%;
  color: white;
  background-color: rgb(1, 6, 105);
  box-shadow: 0px 2.5px 10px 0px rgb(174, 174, 180);
  cursor: pointer;
}
.import-gross-sales-btn {
  position: absolute;
  width: 10%;
  height: 7%;
  color: rgb(1, 6, 105);
  word-break: break-all;

  cursor: pointer;
  font-size: 1rem;
  margin-left: 8%;
  top: 4%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0rem 0.1rem 0.4rem 0.1rem grey;
}
#container {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 20%;
  margin-left: 0%;
  border: 0.5px solid rgb(240, 230, 230);
  overflow: scroll;
}
table {
  position: absolute;
  z-index: 99;
  width: 100%;
  z-index: 10;
  border: none;
}
thead {
  position: sticky;
  height: 1rem;
  position: sticky;
  top: 0%;
}
th {
  padding: 1rem;
  background-color: rgb(202, 204, 226);
  text-align: center;
}
.items-list-head {
  font-size: 1rem;
  color: rgb(78, 78, 78);
}
td {
  text-align: center;
  padding: 1rem;
}

.items-list-row {
  cursor: auto;
}

tr:nth-child(odd) {
  background-color: rgb(247, 242, 242);
}
tr:nth-child(even) {
  background-color: rgb(202, 204, 226);
}
.filter-by-store-label {
  position: absolute;
  color: grey;
  margin-left: 33%;
  top: 2.5%;
}
.filter-by-category-label {
  position: absolute;
  color: grey;
  margin-left: 67%;
  top: 2.5%;
}
.filter-by-stock-alert-label {
  position: absolute;
  color: grey;
  margin-left: 82%;
  top: 2.5%;
}
#filter-by-store {
  position: absolute;
  width: 10%;
  height: 6%;
  color: rgb(1, 6, 105);
  cursor: pointer;
  font-size: 1rem;
  word-break: break-all;

  margin-left: 30%;
  top: 6%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(212, 203, 203);
}
#filter-by-category {
  position: absolute;
  width: 10%;
  height: 6%;
  color: rgb(1, 6, 105);
  cursor: pointer;
  font-size: 1rem;
  margin-left: 65%;
  word-break: break-all;

  top: 6%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(212, 203, 203);
}
#filter-by-stock-alert {
  position: absolute;
  width: 10%;
  height: 6%;
  color: rgb(1, 6, 105);
  cursor: pointer;
  font-size: 1rem;
  margin-left: 80%;
  top: 6%;
  word-break: break-all;

  text-align: center;
  background-color: rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(212, 203, 203);
}
#stock-alert {
  transition: 2s;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 10%;
  height: fit-content;
  margin-left: 80%;
  word-break: break-all;
  top: 12%;
  text-align: left;
  box-shadow: 0rem 0.1rem 0.4rem 0.1rem grey;
  z-index: 30;
}
.btn-group {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  word-break: break-all;
  padding: 10px;
  align-items: flex-start;
  box-shadow: 0rem 0.1rem 0.4rem 0.1rem grey;
  z-index: 100;
}
.btn-primary {
  background-color: white;
  width: 100%;
  border: none;
  height: 2rem;
  cursor: pointer;
  padding: 6px;
}
.btn-primary:hover {
  background-color: rgb(211, 208, 208);
}
input[type="checkbox"] {
  accent-color: rgb(1, 6, 105);
}
input.form-check-input {
  width: 13px;
  height: 13px;
}
#select-store {
  transition: 2s;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: fit-content;
  height: fit-content;
  word-break: break-all;
  margin-left: 30%;
  top: 12%;
  text-align: left;
  box-shadow: 0rem 0.1rem 0.4rem 0.1rem grey;
  z-index: 30;
}
#select-category {
  transition: 2s;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: fit-content;
  word-break: break-all;
  height: fit-content;
  margin-left: 65%;
  top: 12%;
  text-align: left;
  box-shadow: 0rem 0.1rem 0.4rem 0.1rem grey;
  z-index: 30;
}

.btn {
  background-color: white;
  width: 100%;
  border: none;
  height: 2rem;
  cursor: pointer;
  border-top: 1px solid rgb(212, 203, 203);
}
